<div class="  search-section">
    <!-- <button class="search-button">
      Ajouter un domaine d'activité 
    </button> -->
    <div class="search-input shadow">
      <input type="text" placeholder="Recherche ici">
      <i class="bx bx-search"></i>
    </div>
  </div>
<div class="mt-4 text-center">
  <h3 class="fw-bold">Liste des utilisateurs bloqués </h3>

</div>


<div class=" container table-responsive mt-5">
  <table class="table">
    <thead class=" ">
      <tr class="">
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Seydou</td>
        <td>Diallo</td>
        <td>seydoudiallo@gmail.com</td>
        <td><button class="btn">Débloqué</button></td>
      </tr>
      <!--pour ajouter d'autres lignes de tableau-->
      <tr>
        <td>Seydou</td>
        <td>Diallo</td>
        <td>seydoudiallo@gmail.com</td>
        <td><button class="btn">Débloqué</button></td>
      </tr>
    </tbody>
  </table>
</div>
