<section class="home-section">
    <nav class="nav-admin shadow d-flex" style="padding-right: 22px;">
      <div class="flex-grow-1"></div>
      <div class="icon-notification fs-4 text-end fw-bold" style="margin-right: 11px;">
        <i class="fa-regular fa-bell" style="color: #0a2640;"></i>
      </div>
      <div class="icon-profile fs-4 text-end fw-bold">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
  
      </div>
    </nav>
    <div class="home-content">
    </div>
  </section>
  
  
  
        <!-- <i class="fa-regular fa-user" style="color: #0a2640;"></i> -->
   <!-- <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details">
          <img src="images/profile.jpg" alt="" />
          <span class="admin_name">Prem Shahi</span>
          <i class="bx bx-chevron-down"></i>
        </div> -->
  
  
  
  
  
  