<div class="statistique text-center">
    <div class="card">
        <div class="card-content">
          <h2>48</h2>
          <p>Domaines d'activités</p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-content">
          <h2>141</h2>
          <p>Sujets </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-content">
          <h2>+20</h2>
          <p>Nouveaux inscrits</p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-content">
          <h2>150</h2>
          <p>Forum</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h2>+5978</h2>
          <p>Utilisateurs</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h2>+19678</h2>
          <p>Messages</p>
        </div>
      </div>
    
</div>

