<div class="  search-section ">
    <button class="search-button"  data-bs-toggle="modal" data-bs-target="#domaine">
      Ajouter un domaine d'activité 
    </button>
    <div class="search-input shadow">
      <input type="text" placeholder="Recherche ici">
      <i class="bx bx-search"></i>
    </div>
  </div>
<div class="mt-4 text-center">
  <h3 class="fw-bold">Liste des domaines d'activités</h3>

</div>




<div class=" container table-responsive mt-5">
  <table class="table">
    <thead class=" ">
      <tr class="">
        <th>Image</th>
        <th>Nom de domaine</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let domaine of listeDomaines">
        <td> <img alt="Image du domaine" src="http://127.0.0.1:8000/pictures/field/{{ domaine.picture }}" /> </td>
        <td>{{ domaine.fieldname }}</td>
        <td>{{ domaine.description }}</td>
        <td><button class="btn">Modifier</button></td>
      </tr>
      <!-- <tr>
        <td><img  src="assets/img/docteur-verification-femme-patient-tension-arterielle (1).jpg" alt="Image" ></td>
        <td>Santé</td>
        <td>Votre santé, votre bien-être, notre priorité.
        <td><button class="btn">Modifier</button></td>
      </tr> -->
    </tbody>
  </table>
</div> 
<!-- [src]="domaine.picture" -->

<!-- modal -->


<!-- <form [formGroup]="domaineActivite" (ngSubmit)="ajoutDomaine()">
  <div>
    <label for="fieldname">Nom de domaine :</label>
    <input type="text" id="fieldname" formControlName="fieldname" required>
    <div *ngIf="domaineActivite.get('fieldname').invalid && (domaineActivite.get('fieldname').dirty || domaineActivite.get('fieldname').touched)">
      <div *ngIf="domaineActivite.get('fieldname').hasError('required')">Le nom de domaine est requis.</div>
      <div *ngIf="domaineActivite.get('fieldname').hasError('maxlength')">Le nom de domaine ne peut pas dépasser 200 caractères.</div>
    </div>
  </div>

  <div>
    <label for="description">Description :</label>
    <textarea id="description" formControlName="description" required></textarea>
    <div *ngIf="domaineActivite.get('description').invalid && (domaineActivite.get('description').dirty || domaineActivite.get('description').touched)">
      <div *ngIf="domaineActivite.get('description').hasError('required')">La description est requise.</div>
      <div *ngIf="domaineActivite.get('description').hasError('maxlength')">La description ne peut pas dépasser 500 caractères.</div>
    </div>
  </div>

  <div>
    <label for="picture">Image :</label>
    <input type="file" id="picture" (change)="getFile($event)" required>
    <div *ngIf="domaineActivite.get('picture').invalid && (domaineActivite.get('picture').dirty || domaineActivite.get('picture').touched)">
      <div *ngIf="domaineActivite.get('picture').hasError('required')">Veuillez sélectionner une image.</div>
    </div>
  </div>

  <button type="submit" [disabled]="domaineActivite.invalid">Ajouter</button>
</form> -->




<!-- <form action="" [formGroup]="domaineActivite" (ngSubmit)="ajoutDomaine()">

  <div class="modal fade" id="domaine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un Domaine d'activité</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="domaineActivite" (ngSubmit)="ajoutDomaine()">
  <div>
    <label for="fieldname">Nom de domaine :</label>
    <input type="text" id="fieldname" formControlName="fieldname" required>
    <div *ngIf="domaineActivite.get('fieldname').invalid && (domaineActivite.get('fieldname').dirty || domaineActivite.get('fieldname').touched)">
      <div *ngIf="domaineActivite.get('fieldname').hasError('required')">Le nom de domaine est requis.</div>
      <div *ngIf="domaineActivite.get('fieldname').hasError('maxlength')">Le nom de domaine ne peut pas dépasser 200 caractères.</div>
    </div>
  </div>

  <div>
    <label for="description">Description :</label>
    <textarea id="description" formControlName="description" required></textarea>
    <div *ngIf="domaineActivite.get('description').invalid && (domaineActivite.get('description').dirty || domaineActivite.get('description').touched)">
      <div *ngIf="domaineActivite.get('description').hasError('required')">La description est requise.</div>
      <div *ngIf="domaineActivite.get('description').hasError('maxlength')">La description ne peut pas dépasser 500 caractères.</div>
    </div>
  </div>

  <div>
    <label for="picture">Image :</label>
    <input type="file" id="picture" (change)="getFile($event)" required>
    <div *ngIf="domaineActivite.get('picture').invalid && (domaineActivite.get('picture').dirty || domaineActivite.get('picture').touched)">
      <div *ngIf="domaineActivite.get('picture').hasError('required')">Veuillez sélectionner une image.</div>
    </div>
  </div>

  <button type="submit" [disabled]="domaineActivite.invalid">Ajouter</button>
</form>
           
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

</form> -->






  <form action="" [formGroup]="domaineActivite" (ngSubmit)="ajoutDomaine()">

  <div class="modal fade" id="domaine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un Domaine d'activité</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" formControlName="fieldname" placeholder="fieldname forum" >
            <label for="floatingInput">Nom domaine</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" formControlName="description"></textarea>
            <label for="floatingTextarea2">Description</label>
          </div>
         
          
          <div class="input-group mt-4">
            <input type="file" class="form-control" id="inputGroupFile02"  (change)="getFile($event)" accept="image/*" formControlName="picture" >
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>
           
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

</form>  