

    
      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  ">
    <div class="container d-flex align-items-center justify-content-lg-between">
      <h1 class="logo me-auto me-lg-0"><a href="index.html"><img src="assets/img/logo.png" width="100%" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <!-- <li><a class="nav-link scrollto" href="#team">Equipe</a></li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Rejoindre la communauté</a>

    </div>
  </header><!-- End Header -->


  <!-- MAIN -->

        <!---------------Debut Section de votre Contenu ------------------>
        <main class="condition_utilisation">
            <div class="container">
                <div class="condition d-flex justify-content-center mt-5">
                    <h1 class="text-center">Condition d'utilisation</h1>
                    <div class="condition-form">g</div>
                </div>
                <div class="condition-line"></div>
             
              

                <p>
                  Bienvenue sur notre application de forum. Avant d'utiliser cette application, veuillez lire attentivement les conditions d'utilisation suivantes.
                </p>
                
                <h5>1. Acceptation des conditions d'utilisation</h5>
                
                <p>
                  En utilisant cette application, vous acceptez pleinement et sans réserve les présentes conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser l'application.
                </p>
                
                <h5>2. Utilisation appropriée</h5>
                
                <p>
                  L'application est destinée à être utilisée dans le respect des lois et réglementations applicables. Vous vous engagez à ne pas utiliser l'application à des fins illicites, abusives, diffamatoires, offensantes, discriminatoires ou nuisibles pour d'autres utilisateurs.
                </p>
                
                <h5>3. Responsabilité de l'utilisateur</h5>
                
                <p>
                  Vous êtes responsable de toutes les activités effectuées sous votre compte dans l'application. Vous êtes tenu de protéger vos informations d'identification et de ne pas les partager avec d'autres personnes. Vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte.
                </p>
                
                <h5>4. Contenu de l'utilisateur</h5>
                
                <p>
                  En utilisant l'application, vous pouvez contribuer du contenu tel que des messages, de commentaires et même creer des sujets. Vous êtes entièrement responsable du contenu que vous creer et vous vous engagez à ne pas publier de contenu illégal, diffamatoire, offensant ou violant les droits de propriété intellectuelle d'autrui.
                </p>
                
                <h5>5. Droits de propriété</h5>
                
                <p>
                  Tous les droits de propriété intellectuelle associés à l'application, y compris les textes, les graphiques, les logos, les marques de commerce, les images et le code source, sont la propriété de leurs propriétaires respectifs. Vous ne pouvez pas utiliser, reproduire ou distribuer ces éléments sans autorisation préalable.
                </p>
                
                <h5>6. Modifications des conditions d'utilisation</h5>
                
                <p>
                  Nous nous réservons le droit de modifier les présentes conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur l'application. Il est de votre responsabilité de consulter régulièrement les conditions d'utilisation pour rester informé des éventuelles mises à jour.
                </p>
                
               
                
                <p>
                  En utilisant cette application, vous déclarez avoir lu, compris et accepté les présentes conditions d'utilisation.
                </p>
                <h3>NOUS CONTACTER</h3>
    
                <p>Si vous avez des questions ou des préoccupations concernant notre site, nos services ou ces conditions, vous pouvez nous contacter par e-mail à <a href="mailto:pënc@gmail.com"> pënc@gmail.com</a> </p>
            </div>
    
        </main>
        <!------------Fin Section de votre Contenu ------------------>



    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
       <div class="copyright">
         &copy; Copyright <strong><span>pënc</span></strong>.Tous droits réservés
       </div>
       <div class="credits">
       
         Designé par <a href="#">pënc coorporation</a>
       </div>
     </div>
   </footer><!-- End Footer -->



