<div class="sidebar">
  <div class="logo-details">
    <i class=""></i>
    <span  routerLink="statistique"  class="logo_name ">pënc</span>
  </div>
  <ul class="nav-links">
    <li>
      <a  class="active">
        <i class="bx bx-grid-alt"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="statistique"  class="links_name"> Statistique </span>
      </a>
    </li>
    <li>
      <a >
        <i class="bx bx-box"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="domaineActivite"  class="links_name"  >Domaines d'activités</span>
      </a>
    </li>

    <li>
      <a >
        <i class="bx bx-user"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="utilisateurs"  class="links_name">Gestion utilisateurs</span>
      </a>
    </li>

    <li>
      <a >
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="forum"  class="links_name">Gestion forum </span>
      </a>
    </li>
    <li>
      <a >
        <i class="bx bx-list-ul"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="sujets"  class="links_name">Gestion sujets</span>
      </a>
    </li>
   
   
   
   
    <li>
      <a >
        <i class="bx bx-message"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="messages"  class="links_name">Messages</span>
      </a>
    </li>
    <li>
      <a >
        <!-- <i class="bx bx-heart"></i> -->
        <i class="bx bx-user-x"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="utilisateursbloques"  class="links_name">Utilisateurs bloqués</span>
      </a>
    </li>
  
    <li class="log_out">
      <a >
        <i class="bx bx-log-out"></i>
        <span class="menuItem" routerLinkActive="activeMenu" routerLink="accueil"  class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>