<div class="search-section">
    
    <div class="search-input shadow">
      <div class="select-wrapper">
        <select id="select-option">
          <option value="">Filtrer par sujet</option>
          <option value="option1">Elevage</option>
          <option value="option2">Santé</option>
          <option value="option3">Informatique</option>
        </select>
        <i class="bx bx-chevron-down"></i>
      </div>
      <!-- <i class="bx bx-search"></i> -->
    </div>
  </div>
  

  <div class="card mt-5">
    <div class="card-content d-flex justify-content-between">
      <div class="card-description">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis laborum  sit illum omnis iusto molestiae?</p>
      </div>
      <div class="card-buttons">
        <button class="card-button btn1">Supprimer</button>
        <button class="card-button btn">Voir plus </button>
      </div>
      <div class="card-details">
        <div class="card-detail-item">
            <i class="fa-solid fa-city" style="color: #0A2640;"></i>
          <span>Domaine Elevage </span>
        </div>
        <div class="card-detail-item orange-color">
            <i class="fa-regular fa-calendar-days" style="color: #FFC107;"></i>
            <span>publié le 06/12/2023 </span>
          </div>
        <div class="card-detail-item">
          <i class="fa-solid fa-message" style="color: #0A2640;"></i>
          <span>Nombre de messages</span>
        </div>
      </div>
    </div>
  </div>

 


 
<!-- message Body -->
<section class="messagetop">
    <div class="container ">
        <div class="row">
            <div class="col-12 pb-4">
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">&nbsp;&nbsp;
                    <h5>Jhon Doe</h5>
                    <span class="fw-bold" > &nbsp; le 20 October, 2023 à 19h</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                     <button class="card-button btn1">Supprimer</button>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pb-4">
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">&nbsp;&nbsp;
                    <h5>Jhon Doe</h5>
                    <span class="fw-bold" > &nbsp; le 20 October, 2023 à 19h</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                     <button class="card-button btn1">Supprimer</button>

                </div>
            </div>
        </div>
    </div>
</section>