

    
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top  ">
        <div class="container d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html"><img src="assets/img/logo.png" width="100%" alt=""></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
              <li><a class="nav-link scrollto" href="#about">A propos</a></li>
              <li><a class="nav-link scrollto" href="#services">Services</a></li>
              <!-- <li><a class="nav-link scrollto" href="#team">Equipe</a></li> -->
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
          <a href="#about" class="get-started-btn scrollto">Rejoindre la communauté</a>
    
        </div>
      </header><!-- End Header -->
    
    
      <!-- MAIN -->
    
            <!---------------Debut Section de votre Contenu ------------------>
            <main class="politique_utilisation">
                <div class="container">
                    <div class="politique d-flex justify-content-center mt-5">
                        <h1 class="text-center">Politique de confidentialité</h1>
                    </div>
                 
                    <p class="mt-4">La présente politique de confidentialité décrit comment les informations personnelles des utilisateurs sont collectées, utilisées et partagées lors de l'utilisation de la plateforme de forum. Nous attachons une grande importance à la protection de la vie privée de nos utilisateurs et nous nous engageons à respecter et à protéger leurs informations personnelles conformément aux lois applicables sur la confidentialité des données.</p>

        
                    <p> <span>1.</span>&nbsp; &nbsp; Collecte des informations personnelles
                        Nous collectons les informations personnelles suivantes lorsque vous vous inscrivez et utilisez notre plateforme . </p>

                            <ul>
                                <li> Nom complet</li>
                                <li> Adresse e-mail</li>
                                <li> Photo de profil (facultatif)</li>
                            </ul>

                    <p><span>2.</span>&nbsp; &nbsp; Utilisation des informations personnelles
                        Les informations personnelles collectées sont utilisées aux fins suivantes :
                        </p>                        
                        <ul>
                            <li> 
                                Création et gestion de votre compte utilisateur
                            </li>
                            <li> Fourniture de fonctionnalités de réseautage avec d'autres utilisateurs
                            </li>
                            <li> Amélioration continue de la plateforme et de nos services
                            </li>
                        </ul>

                        <p><span>3.</span>&nbsp; &nbsp; Protection des informations personnelles
                            Nous mettons en place des mesures de sécurité appropriées pour protéger les informations personnelles de nos utilisateurs contre tout accès non autorisé, toute divulgation, toute utilisation abusive ou toute altération. Cependant, veuillez noter qu'aucune méthode de transmission ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue des informations.
                        </p>  
                        
                        <p><span>4.</span>&nbsp; &nbsp; Partage des informations personnelles
                            Nous ne vendons, ne louons ni ne partageons les informations personnelles de nos utilisateurs avec des tiers à des fins de marketing ou de publicité. Toutefois, nous pouvons partager certaines informations avec des tiers dans les cas suivants :
                            
                         </p>                        
                            <ul>
                                <li> 
                                    Pour se conformer aux lois et réglementations applicables, aux demandes gouvernementales ou aux ordonnances judiciaires.

                                </li>
                                <li>Pour répondre aux demandes de support ou pour enquêter sur des problèmes liés à l'utilisation de la plateforme.

                                </li>
                                <li>Si cela est nécessaire pour protéger nos droits, notre propriété ou notre sécurité, ainsi que ceux de nos utilisateurs ou du public.

                                </li>
                            </ul>
                          
                            <p><span>5.</span>&nbsp; &nbsp; Conservation des informations personnelles
                                Nous conservons les informations personnelles des utilisateurs aussi longtemps que nécessaire pour atteindre les objectifs mentionnés dans cette politique de confidentialité, à moins qu'une période de conservation plus longue ne soit requise ou autorisée par la loi.
                                                 
                                
                             </p> 

                             <p><span>6.</span>&nbsp; &nbsp; Modification de vos informations personnelles
                                Vous pouvez accéder et modifier vos informations personnelles à tout moment via les paramètres de votre compte utilisateur. Si vous souhaitez supprimer définitivement votre compte, veuillez contacter notre équipe de support.
                                
                                
                             </p> 

                             <p><span>7.</span>&nbsp; &nbsp;- Liens vers des sites tiers
                                Notre plateforme peut contenir des liens vers des sites web ou des services tiers. Veuillez noter que nous ne sommes pas responsables des pratiques de confidentialité de ces tiers. Nous vous encourageons à consulter les politiques de confidentialité de ces sites tiers avant de fournir vos informations personnelles.
                                
                                
                             </p> 

                             <p><span>8.</span>&nbsp; &nbsp; Modifications de la politique de confidentialité
                                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page et la date de mise à jour en haut de la page sera révisée. Nous vous encourageons à consulter régulièrement cette politique de confidentialité pour rester informé des mesures que nous prenons pour protéger vos informations personnelles.
                                
                                
                             </p> 

                             <p><span>9.</span>&nbsp; &nbsp; Contact
                                Si vous avez des questions, des préoccupations ou des demandes concernant cette politique de confidentialité ou la manière dont nous traitons vos informations personnelles, veuillez nous contacter à l'adresse suivante : pënc@gmail.com
                                
                             </p> 

        
                    <p>En utilisant notre plateforme, vous acceptez les termes de cette politique de confidentialité et consentez à la collecte, à l'utilisation et à la divulgation de vos informations personnelles conformément à cette politique. </p>
                </div>
        
            </main>
            <!------------Fin Section de votre Contenu ------------------>
    
    
    
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
           <div class="copyright">
             &copy; Copyright <strong><span>pënc</span></strong>.Tous droits réservés
           </div>
           <div class="credits">
           
             Designé par <a href="#">pënc coorporation</a>
           </div>
         </div>
       </footer><!-- End Footer -->
    
    
    
    
