<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap">
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" style="height: 100px;">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <a href="index.html"><img src="assets/img/logo.png" height="42px" alt="" style="opacity: 0.9;"></a>
        <!-- nav -->
        <nav id="navbar" class="navbar order-last order-lg-0" style="padding-top: 15px;"> 
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
                <li><a class="nav-link scrollto" href="#about">A propos</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a href="#about" class="get-started-btn scrollto" style="margin-top: 4px; font-weight: bold; text-decoration: none; ">Rejoindre la communauté</a>


    </div>
</header>




<!-- End Header -->

 
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12" data-aos="fade-up" data-aos-delay="150" style="text-align: left; margin-top: -30px;"> 
          <!-- <h1>PËNC</h1> -->
          <p class="fs-5 fw-medium w-50 text-white">Connectez, Collaborez, Prospérez <br/> Avez-vous besoin d'un espace où vous pouvez interagir, échanger des idées et établir des contacts avec d'autres experts de votre domaine d’activité  <span>?</span></p>

          <a href="#about" class="get-started-btn scrollto" style="margin-top: 30px; font-weight: bold; text-decoration: none; ">Rejoindre la communauté</a>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- End Hero -->



  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/second.jpg" class="img-fluid" alt="">
          </div>
          <div class="section-title">
            <h2>A propos</h2>
            <p>En ce qui concerne</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <!-- <h2>Pënc:</h2> -->
            <p class="fst-italic">
              La plateforme est une communauté en ligne dynamique qui facilite les échanges et les discussions entre individus partageant un même domaine d'intérêt. Dotée d'interfaces conviviales, notre plateforme vous permet de choisir le domaine d'activité qui vous intéresse et d'accéder à un forum de discussion dédié.

            </p>
            <h2>Les objectifs de notre plateforme sont de :

            </h2>
            <ul>
              <li><i class="ri-check-double-line"></i>Favoriser les interactions : Nous voulons créer un espace où les professionnels de différents domaines peuvent interagir, poser des questions, partager des idées et établir des contacts avec d'autres experts de leur domaine.</li>
              <li><i class="ri-check-double-line"></i>Partage de connaissances et d'expérience : Nous souhaitons encourager le partage de connaissances et d'expérience entre les utilisateurs. Cela permettra aux entrepreneurs novices d'apprendre des professionnels plus expérimentés et de bénéficier de leur expertise.</li>
              <li><i class="ri-check-double-line"></i> Discussions pertinentes : Nous visons à faciliter les discussions sur des sujets pertinents à chaque domaine d'activité. Cela permettra aux utilisateurs de trouver des informations précieuses et de rester à jour avec les dernières tendances et les bonnes pratiques de leur secteur.

              </li>
            </ul>
           
          </div>
        </div>

      </div>
    </section>    
    
    <!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients mt-3">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/bg3.png" alt="" style="width: 300px; height: 400px;"></div>
            <div class="swiper-slide"><img src="assets/img/im01.jpg"  alt="" style="width: 300px; height: 400px;"></div>
            <div class="swiper-slide"><img src="assets/img/im04.jpg" alt="" style="width: 300px; height: 400px;"></div>
            <div class="swiper-slide"><img src="assets/img/im02.jpg"  alt="" style="width: 300px; height: 400px;"></div>
            <div class="swiper-slide"><img src="assets/img/im05.jpg" alt="" style="width: 300px; height: 400px;"></div>
            <div class="swiper-slide"><img src="assets/img/im03.jpg"  alt="" style="width: 300px; height: 400px;"></div>
            <div class="swiper-slide"><img src="assets/img/im04.jpg"  alt="" style="width: 300px; height: 400px;"></div>
          </div>
          <div class="swiper-pagination mt-5"></div>
        </div>
        
      </div>
    </section><!-- End Clients Section -->
    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features mt-3">
      <div class="container" data-aos="fade-up">

        <div class="row">
        
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <!-- <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Est labore ad</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Harum esse qui</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Aut occaecati</h4>
              <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Beatae veritatis</h4>
              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
            </div> -->
            <div class="custom-heading1 mt-5">
              <h1 class="custom-heading text-start">POUSSEZ VOS LIMITES</h1>
              <h4 class="fs-4 fw-light" style="font-family: poppins ;">Élevez votre passion au niveau supérieur : Connectez-vous, échangez et progressez avec notre application qui rapproche les passionnés et vous propulse vers de nouveaux sommets !</h4>
            </div>            
          </div>

          <div class="image-full col-lg-6" style='background-image: url("assets/img/Groupimg8.png");' data-aos="fade-right"></div>

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>NOS DOMAINES D’ACTIVITE</p>
          <div class="search-box">
            <input type="text" placeholder="Domaine...">
            <button type="submit">Rechercher</button>
          </div>
        </div>
        
 <div class="all justify-content-around ">
          <!-- flip-card-container -->
          
<div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/bg01.png" alt="Brohm Lake">
        <figcaption>INFORMATIQUE</figcaption>
      </figure>

      <ul><li style="color: white;">Connectez-vous à l'excellence numérique avec notre forum informatique!</li></ul>
        
      
    </div>

    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/bg01.png" alt="Brohm Lake">
      </figure>

      <button>Découvrir</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
<!-- /flip-card-container -->

<!-- flip-card-container -->
<div class="flip-card-container" style="--hue: 170">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/bg03.png" alt="Image 2">
        <figcaption>SANTE</figcaption>
      </figure>
      <ul><li style="color: white;">Votre bien-être, notre priorité - rejoignez notre forum santé!</li></ul>
    </div>

    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/bg03.png" alt="image-2">
      </figure>

      <button>Découvrir</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
<!-- /flip-card-container -->

<!-- flip-card-container -->
<div class="flip-card-container" style="--hue: 350">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/bg04.png" alt="Brohm Lake">
        <figcaption>ELEVAGE</figcaption>
      </figure>
      <ul><li style="color: white;">Unis par la passion, guidés par l'expertise - notre forum, votre refuge pour l'élevage responsable.</li></ul>
      
    </div>

    <div class="card-back">
      <!-- only if the image is necessary -->
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/bg04.png" alt="Brohm Lake">
      </figure>

      <button>Découvrir</button>

      <!-- can add svg here and remove these eight spans -->
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
<div class="flip-card-container" style="--hue: 350">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/im06.png" alt="Brohm Lake">
        <figcaption>INDUSTRIE</figcaption>
      </figure>
      <ul><li style="color: white;">Innovation, collaboration, succès - notre forum, votre atout pour l'industrie!</li></ul>
      
    </div>

    <div class="card-back">
      <!-- only if the image is necessary -->
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/im06.png" alt="Brohm Lake">
      </figure>

      <button>Découvrir</button>

      <!-- can add svg here and remove these eight spans -->
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
<div class="flip-card-container" style="--hue: 350">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/im07.png" alt="Brohm Lake">
        <figcaption>FINANCE</figcaption>
      </figure>
      <ul><li style="color: white;">Ensemble vers la prospérité - Rejoignez notre forum finance!</li></ul>
      
    </div>

    <div class="card-back">
      <!-- only if the image is necessary -->
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/im07.png" alt="Brohm Lake">
      </figure>

      <button>Découvrir</button>

      <!-- can add svg here and remove these eight spans -->
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
<div class="flip-card-container" style="--hue: 350">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/im08.png" alt="Brohm Lake">
        <figcaption>Automobile</figcaption>
      </figure>
      <ul><li style="color: white;">Accélérez votre passion - Rejoignez notre forum automobile!</li></ul>
      
    </div>

    <div class="card-back">
      <!-- only if the image is necessary -->
      <figure>
        <div class="img-bg"></div>
        <img src="assets/img/im08.png" alt="Brohm Lake">
      </figure>

      <button>Découvrir</button>

      <!-- can add svg here and remove these eight spans -->
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
<!-- /flip-card-container -->
 </div>

      </div>


      <!-- <div class="swiper-pagination mt-5"></div> -->
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <!-- <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        
          <h3>Appel à l’action</h3>
          <p style="margin-bottom: 0;"> Découvrez les meilleurs salon.</p>
          <div class="text-right">
            <a href="#about" class="get-started-btn scrollto" style="font-weight: bold;">Rejoindre la communauté</a>
          </div>
       

      </div>
    </section> -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div> 
           <h3 class="text-white">Appel à l’action</h3>
          <p class="text-white" style="margin-bottom: 0;"> Découvrez les meilleurs salon.</p></div>

        <div class="text-right boutonCta">
          <a href="#about" class=" get-started-btn scrollto " style="font-weight: bold;">Rejoindre la communauté</a>
        </div>
     

    </div>
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Seydou</h3>
                <h4>Designer &amp; Chercheur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Je suis extrêmement satisfait de cette plateforme ! Elle répond parfaitement à mes besoins et dépasse même mes attentes. L'expérience utilisateur est fluide et intuitive, ce qui facilite grandement la navigation et l'utilisation des fonctionnalités. J'apprécie particulièrement la richesse et la pertinence du contenu proposé, qui m'a permis d'approfondir mes connaissances dans mon domaine d'intérêt. De plus, l'équipe derrière la plateforme fait preuve d'une grande expertise, offrant un soutien et des ressources de qualité.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Marième</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  cette plateforme répond pleinement à mes attentes et me satisfait pleinement. Son interface conviviale, ses fonctionnalités bien conçues et sa qualité de contenu en font un outil précieux pour mon développement personnel et professionnel. L'équipe derrière la plateforme offre un excellent support et les ressources disponibles sont variées et enrichissantes. Je recommande vivement cette plateforme à tous ceux qui recherchent une expérience en ligne de qualité.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Mouhamed</h3>
                <h4>Agronome</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Je suis vraiment satisfait cette plateforme est formidable.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Rokhaya</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Magnifique vraiment merci beaucoup pour cette plateforme.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Khady</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Je suis vraiment satisfaite cette plateforme est formidable.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacte</h2>
          <p>CONTACTEZ-NOUS</p>
        </div>


        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localisation:</h4>
                <p>Dakar,Senegal</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>pënc@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Téléphone:</h4>
                <p>+3345678953</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nom" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subjet" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <h5 style="font-weight: bold; font-size: 16px;">Politique de Confidentialité   &nbsp;  Condition d'utilisation</h5>
        &copy; Copyright <strong><span>pënc</span></strong>. Tous droits réservés
      </div>
      <div class="credits">
        Designé par <a class="coorporation" href="#">pënc coorporation</a>
      </div>
    </div>
    
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="accueil" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>